MONGODB_URI=
# MONGODB_DB=hcm202
# Pusher tuỳ chọn: bỏ trống thì client tự polling 2s
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=ap1
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=ap1
